<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.vmbc.customcamera" version="1">
        <name>Custom Camera</name>
        <description>Cordova Device Plugin</description>
        <license>Apache 2.0</license>
        <keywords>camera,vmbc,plugin</keywords>
<!--         <js-module src="www/camera.js" name="camera">
            <clobbers target="camera" />
        </js-module> -->
        <platform name="android">
            <source-file src="src/android/CameraLauncher.java"
                target-dir="src/com/vmbc/customcamera/cameralauncher" />
            <source-file src="src/android/CameraPreview.java"
                target-dir="src/com/vmbc/customcamera/camerapreview" />                
        </platform>
    </plugin>